{% extends "base.html" %} {% block titulo %}Alunos{% endblock %} {% block conteudo %}
<div class="row mt-3 ml-5">
	<div class="col-md-4">
		<h2>
			<div class="badge badge-pill badge-info">Alunos</div>
		</h2>
		<form class="input-group" action="alunos" method="get">
			<input type="text" class="form-control" name="pesquisar_por" placeholder="Procurando por...">
			<span class="input-group-btn">
				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
			</span>
		</form>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-5 mt-5">
		<div class="ml-4 mt-3">
			<small class="font-weight-light">Exportar para Excel: </small>
			<a href="/excel">
				<i class="fa fa-table text-success" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="mx-auto mt-2">
			<div class="table table-striped table-bordered">
				<table>
					<thead>
						<tr>
							<th>Matricula</th>
							<th>Nome</th>
							<th>Curso</th>
							<th>Info</th>
							<th>Imprimir</th>
						</tr>
					</thead>
					<tbody>
						{%for aluno in alunos%}
						<tr>
							<th>{{aluno.matricula}}</th>
							<th>{{aluno.nome}}</th>
							<th>{{aluno.curso.nome}}</th>
							<th>
								<a href="{% url 'aluno_url' aluno.id %}">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</a>
							</th>
							<th>
								<a href="{% url 'some_view' aluno.id %}">
									<i class="fa fa-print" aria-hidden="true"></i>
								</a>
							</th>
						</tr>
						{% empty %}
						<div class="alert alert-info" role="alert">
							Nenhum resultado foi encotrado.
						</div>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}