{% extends "base.html" %} {% block titulo %}Informações do Aluno{% endblock %} {% block conteudo %}
<div class="col-sm-5 mx-auto mt-3">
	<div class="card">
		<div class="card-header">Informações do Aluno</div>
		<div class="card-body">
			<div class="row">
				<div class="form-group col-md-10">
					<label for="usr">Nome:</label>
					<input type="text" class="form-control bg-white" id="usr" value="{{al.nome}}" disabled>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-10">
					<label for="usr">Nascimento:</label>
					<input type="text" class="form-control bg-white" id="usr" value="{{al.nascimento}}" disabled>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-10">
					<label for="usr">Sexo:</label>
					<input type="text" class="form-control bg-white" id="usr" value="{{al.sexo}}" disabled>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-10">
					<label for="usr">Matrícula:</label>
					<input type="text" class="form-control bg-white" id="usr" value="{{al.matricula}}" disabled>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-10">
					<label for="usr">Curso:</label>
					<input type="text" class="form-control bg-white" id="usr" value="{{al.curso.nome}}" disabled>
				</div>
			</div>
			{%if al.disciplinas.all %}
			<div class="row">
				<div class="form-group col-md-10">
					<label for="usr">Disciplinas:</label>
					<br>
					<select class="form-control">
						{% for d in al.disciplinas.all %}
						<option value="{{ d.id }}">{{ d.nome }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			{%endif%}
			<div class="row">
				<div class="form-group col-md-10">
					<label for="usr">Creditos:</label>
					<br>
					<select class="form-control">
						<option value="{{ al.credito.d_credito}}">d_credito: {{ al.credito.d_credito }}</option>
						<option value="{{ al.credito.d_credito_p}}">d_credito_p: {{ al.credito.d_credito_p }}</option>
						<option value="{{ al.credito.a_credito_o}}">a_credito_o: {{ al.credito.a_credito_o }}</option>
						<option value="{{ al.credito.a_credito_l}}">a_credito_l: {{ al.credito.a_credito_l }}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}