{% load staticfiles %}
<!DOCTYPE html>
<html lang="br">

<head>

	<meta charset="utf-8">
	<title> {% block titulo %}{% endblock %}</title>

	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %} "> 

	<style>
		#footer {
			background-size: cover;
			width: 100%;
			height: 70px;
			text-align: center;
			margin-top: 10px;
		}
	</style>
</head>

<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span href="/" class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">
				<i class="fa fa-grav" aria-hidden="true"></i>
			</a>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/departamentos">Departamentos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/disciplinas">Disciplinas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/alunos">Alunos</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		{% block conteudo %} {% endblock %}
	</div>
	<!-- FOOTER -->
	<hr>
	<div id="footer">
		<p align="center">
			<small>Universidade Federal Rural do Rio de Janeiro</small>
			<br>
			<small>Desenvolvido por Leonardo Almeida</small>
		</p>
	</div>
	<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
	<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>