{% extends "base.html" %} {% block titulo %}Início{% endblock %} {% block conteudo %}
<div class="col-md-5 mt-5 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center my-3" >Fale Conosco! <i class="fa fa-envelope-o" aria-hidden="true"></i></h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Telefone de contato" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" placeholder="Messagem" maxlength="140" rows="7"></textarea>
            </div>
            <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Enviar</button>
        </div>
    </div>
</div>
{% endblock %}