{% extends "base.html" %} {% block titulo %}Contato{% endblock %} {% block conteudo %}
<div class="col-md-5 mt-3 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center my-3">Fale Conosco!
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </h3>
        </div>
        <div class="card-body">
            <form action="{% url 'contato' %}" method="POST">
                {% csrf_token %}
                <!-- {{form}}  -->
                <div class="form-group">
                        <label for="id_name">Nome</label>
                    <input type="text" class="form-control" id="id_name" name="name" value="{{ name }}">
                </div>
                <div class="form-group">
                        <label for="id_sender">Email</label>
                    <input type="text" id="id_sender" class="form-control" name="sender" value="{{ sender }}">
                </div>
                <div class="form-group">
                        <label for="id_tel">Telefone</label>
                    <input type="text" class="form-control" id="id_tel" name="tel" value="{{ tel }}">
                </div>
                <div class="form-group">
                        <label for="id_subject">Assunto</label>
                    <input type="text" id="id_subject" class="form-control" name="subject" value="{{ subject }}">
                </div>
                <div class="form-group">
                        <label for="id_message">Messagem</label>
                    <textarea id="id_message" class="form-control" value="{{ message }}" type="textarea" id="message" maxlength="140" rows="7"></textarea>
                </div>
                {% comment %} {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.subject.errors }}
                    <label for="{{ form.subject.id_for_label }}">subject:</label>
                    {{ form.subject }}
                </div>
                <div class="fieldWrapper">
                    {{ form.message.errors }}
                    <label for="{{ form.message.id_for_label }}">Your message:</label>
                    {{ form.message }}
                </div>
                <div class="fieldWrapper">
                    {{ form.sender.errors }}
                    <label for="{{ form.sender.id_for_label }}">Your email address:</label>
                    {{ form.sender }}
                </div> {% endcomment %}
                <button type="submit" class="btn btn-info pull-right" value="OK">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}