{% extends "base.html" %} {% block titulo %}Disciplinas{% endblock %} {% block conteudo %}
<legend>Disciplinas</legend>
<div class="row">
	<div class="col-md-4">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Pesquisar</button>
			</span>
			<input type="text" class="form-control" placeholder="Procurando por...">
		</div>
		<!-- input group -->
	</div>
</div>
<br>
<div class="row">
	<div class="row-md-12">
		<div class="panel panel-primary">
			<!-- Default panel content -->
			<!-- Table -->
			<table class="table table-striped">
				<thead>
					<tr class="bg-primary table-striped">
						<th>Codigo</th>
						<th>Nome</th>
						<th>Disciplina Obrigatoria</th>
						<th>Status</th>
						<th>Credito</th>
						<th>Professor</th>
						<th>Curso</th>
					</tr>
				</thead>
				<tbody>
					{%for disciplina in disciplinas%}
					<tr>
						<th>{{disciplina.codigo}}</th>
						<th>{{disciplina.nome}}</th>
						<th>{{disciplina.obg_let}}</th>
						<th>{{disciplina.status}}</th>
						<th>{{disciplina.credito.d_credito}}</th>
						<th>{{disciplina.professor.nome}}</th>
						<th>{{disciplina.curso.nome}}</th>
					</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}