{% extends "base.html" %} {% block titulo %}Secretarias{% endblock %} {% block conteudo %}
<div class="row mt-3 ml-5">
	<div class="col-md-4">
		<h2>
			<span class="badge badge-pill badge-info">Secretarias</span>
		</h2>
		<form class="input-group" action="secretarias" method="get">
			<input type="text" class="form-control" name="pesquisar_por" placeholder="Procurando por...">
			<span class="input-group-btn">
				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
			</span>
		</form>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="mx-auto mt-3">
			<div class="table table-striped table-bordered">
				<table>
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Nome</th>
							<th>Departamento</th>
							<th>Alterar</th>
						</tr>
					</thead>
					<tbody>
						{%for secr in secretarias%}
						<tr>
							<th>{{secr.tipo}}</th>
							<th>{{secr.nome}}</th>
							<th>{{secr.departamento.nome}}</th>
							<th>
								<a href="{% url 'secretaria' secr.id %}">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								</a>
							</th>
						</tr>
						{% empty %}
						<div class="alert alert-info" role="alert">
							Nenhum resultado foi encotrado.
						</div>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}